body{
	margin:0;
	color:#444;
	 
	font:300 18px/18px Roboto, sans-serif;
}

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
